<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeShop"
        tools:targetApi="31">

        <!-- ĐẢM BẢO KHỐI NÀY TỒN TẠI CHO ACTIVITY CHÍNH CỦA BẠN -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">  <!-- android:exported="true" là bắt buộc cho các app nhắm đến API 31+ -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Các activity khác (nếu có) sẽ không có intent-filter này -->
        <!-- Khai báo MainActivity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />

    </application>

</manifest>
    