<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeShop"
        tools:targetApi="31">

        <!-- Đặt LoginActivity làm màn hình khởi chạy -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <!-- DI CHUYỂN INTENT-FILTER VÀO ĐÂY -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Xóa intent-filter khỏi MainActivity và đặt exported="false" -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />

        <!-- Các activity khác -->
        <activity
            android:name=".ui.activity.DrinkMenuActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.YourOrderActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.FavoritesActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.PaymentActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.CheckInActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.LuckyWheelActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AdminOrderListActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AdminOrderDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AdminManageMenuItemsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AdminAddMenuItemActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.AdminAddComboActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
